.about {
 &__image--dark,
 &__image--light {
  min-height: 16.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 &__content--wrap {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include breakpoint-up(large) {
   padding-top: 3.8rem;
   padding-left: 3rem;
   padding-right: 3rem;
   padding-bottom: 2rem;
  }
 }

 &__title {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  padding-bottom: 1rem;
 }
}

.attribution {
 text-align: center;

 a {
  color: rgba(83, 83, 83, 0.849);
  cursor: pointer;
 }
}
