nav {
 z-index: 1;
 position: relative;
 overflow: hidden;
}

.header-bg {
 min-height: 22.5rem;
 z-index: -1;
}

/////// Images ///////
.slide {
 opacity: 0;
}

.slide.active {
 opacity: 1;
 min-height: 22.5rem;
 background-repeat: no-repeat;
 background-size: 100% 22.5rem;
 background-position: top left;
 transition: 200ms ease-in-out;
}

@include breakpoint-up(medium) {
 .slide-dt {
  opacity: 0;
 }

 .slide-dt.active {
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 100% 33rem;
  min-height: 33rem;
  transition: 200ms ease-in-out;
 }
}

///////////////////////////
.header {
 display: grid;
 width: 100%;
 position: relative;
 top: 0;
 left: 0;
 z-index: 1;

 &__holder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;

  @include breakpoint-up(large) {
   left: -38%;
   top: 6%;
  }
 }

 &__logo {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, 50%);

  @include breakpoint-up(large) {
   top: 33%;
  }
 }

 //////// Hamburger Menu ///////
 .header__toggle {
  padding-left: 2rem;
  padding-top: 2.75rem;
  cursor: pointer;
  z-index: 3;

  &.open {
   > span:first-child {
    transform: rotate(45deg);
   }

   > span:nth-child(2) {
    opacity: 0;
   }

   > span:nth-child(3) {
    transform: rotate(-45deg);
   }
  }
 }

 &__toggle {
  > span {
   display: block;
   height: 2px;
   width: 26px;
   background-color: $white;
   margin-bottom: 4px;
   transition: all 200ms ease-in-out;
   transform-origin: 3px 1px;

   &:not(:last-child) {
    margin-bottom: 5px;
   }
  }
 }

 &__menu {
  z-index: 2;
  position: absolute;
  background-color: $white;
  width: 100%;
  height: 7rem;

  @include breakpoint-up(large) {
   display: none;
  }
 }

 &__nav--links {
  position: absolute;
  top: 34%;
  left: 25%;
  transform: translateY(50%);

  @include breakpoint-up(medium) {
   left: 35%;
  }

  @include breakpoint-up(large) {
   position: absolute;
   left: 62%;
   width: 100%;
  }

  a {
   color: $black;
   font-weight: 600;

   &:not(:last-child) {
    margin-right: 2rem;
   }

   @include breakpoint-up(large) {
    color: $white;
    position: relative;

    &::after {
     content: "";
     height: 4px;
     position: absolute;
     bottom: -12px;
     left: 0;
     right: 0;
     background-color: $white;
     opacity: 0;
     transform: scaleX(0);
     transition: opacity 300ms ease-in-out;
     transition: transform 200ms ease-in-out;
    }

    &:hover::after {
     opacity: 1;
     transform: scaleX(1);
    }
   }
  }
 }
}
